/*
    CSS documentation for index.html [ _CAFE ]

    ColorScheme
        Main background: #fff (white)
        Main Accent color: rgb(124, 82, 34);
        Secondary color: rgb(239, 227, 174);
    Font Family
        font-family: 'Special Elite', cursive;

    Scrolling
        Smooth scroll (add -moz for firefox browser)

*/

/* CSS reset and document attributes */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: 'Special Elite', cursive;
    line-height: 25px;
}

html {
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* sematic elements */
header {
    align-items: center;
    background-color: rgb(124, 82, 34);;
    background-image: url('img/coffee-landing.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 50vh;
}
section {
    padding: 35px;
    margin: 10px auto;
}
nav {
    background-color: #fff;
    margin: 20px auto;
}

/* Global styles & attributes */
.container {

    margin: 10px auto;
    /* padding: 20px; */
}
.review {
    margin: 10px auto;
}


/* header elements & props */
header {
    margin: auto;
}
header a {
    background-color: #fff;
    border: 2px solid rgb(124, 82, 34);
    border-radius: 10px;
    color: rgb(124, 82, 34);
    font-size: 30px;
    padding: 10px;
}
.landing__container h1 {
    font-size: 50px;
    text-shadow: 4px rgb(124, 82, 34);
    padding: 10px;
    color: #fff;
}
.underline {
    text-decoration: underline;
    text-decoration-color: rgb(124, 82, 34);
}
/* Navigation properties for both
    .toplinks [top navigation],
    .botlinks [footer navigation]
*/
a {
    background-color:#fff;
    color: rgb(124, 82, 34);
    border: 2px solid rgb(124, 82, 34);;
    border-radius: 5px;
    color: rgb(124, 82, 34);;
    font-size: 25px;
    font-weight: 200;
    margin: auto;
    padding: 15px;
    transition-duration: 1100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;

    text-decoration: none;
}
a:hover {
    background-color: rgb(124, 82, 34);
    border: 1px solid rgb(124, 82, 34);
    color: #fff;
    text-decoration: underline;
}
/*
Basic flex layout container
Apply background images through: [flexbox images CSS section]
    container = [div .container]
    elements = [.box], [.box p]
*/
.box {

    border-radius: 10px;

    height: 250px;
    width: 100%;

    background: #000;

    margin: 10px auto;
    display: flex;
}
/* box text */
.box p {
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px rgb(124, 82, 34);
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 3px;
}
/* coffee menu properties */
/* menu containers */
.container-menu {
    margin: auto;
}
.menu {
    padding: 25px;
    margin: auto;
}
/* placement of items and pricing */
.left {float: left; margin-left:50px}
.right {float: right; margin-right: 50px;}

/* order & submit button */
#orderBtn,
#submitBtn {
    background-color: rgb(66, 57, 45);
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    border: 2px solid #fff;
    transition: all 3s;
}
#orderBtn:hover {
    background-color: rgb(124, 82, 34);
    text-decoration: underline;
}
/* customer reviews containers */
.review {
    background-color: rgb(66, 57, 45);
    color: white;
    border-radius: 20px;
    padding: 20px;
}
/* contact us information */
/* maps */
#maps {
    height: 250px;
    padding: 10px;
}
#maps a {
    background: none;
    border: none;
    font-size: 20px;
}

/* contact form containers
    [div .container],
    [div.container-form],
    [div .form] + [form]
*/
.form__container {

    border-radius: 10px;
    height: 300px;
    width: 50%;
    display: flex;
    margin: auto;
}

form {
    width: fit-content;
    margin: auto;

}
form input, textarea {
    text-align: center;
    font-family: 'Special Elite', cursive;
    padding: 15px;
    width: fit-content;
    margin: 10px;
    font-weight: bold;


}
.form input[type=text] {
    color: rgb(66, 57, 45);
}
form textarea:active {
    background-color: rgb(124, 82, 34);
    color: #fff;
}

/* footer  */
footer {
    color: rgb(124, 82, 34);
    font-size: 20px;
    line-height: 15px;
    padding: 25px;
    border-top: 4px solid rgb(124, 82, 34);


}
/* responsive images */
img {
    border-radius: 10px;
    height: auto;
    width: 100%;
    }
/* headings */
h2 {
    font-size: 25px;
    text-decoration: underline;
    color: rgb(124, 82, 34);
}
h3, h4 {
    text-decoration: underline;
    color: rgb(124, 82, 34);
    padding: 10px;
}

/* flexbox images */
/* cafe item background applied to [div .box] */
/* Fan favourites images */
.cafeItems1 {background-image: url('img/coffee-items1.jpg'); background-position: center; background-size: cover;}
.cafeItems2 {background-image: url('img/coffee-items2.jpg'); background-position: center; background-size: cover;}
.cafeItems3 {background-image: url('img/coffee-items3.jpg'); background-position: center; background-size: cover;}

.cafeService1 {background-image: url('img/coffee-services1.jpg'); background-position: center; background-size: cover;}
.cafeService2 {background-image: url('img/coffee-services2.jpg'); background-position: center; background-size: cover;}
.cafeService3 {background-image: url('img/coffee-services3.jpg'); background-position: center; background-size: cover;}

/* cafe form */
.cafeForm1 {background-image: url('img/coffee-form.jpg'); background-position: right; background-size: cover;}

/* desktop media queries for
    screens over 800px */
@media screen and (min-width: 960px) {
    /* semantic elements */
    header {
        height: 60vh;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .box {
        border-radius: 12px;
        max-height: 400px;
        max-width: 400px;
        margin: 10px auto;
        display: flex;
    }
    img {
        border-radius: 10px;
        height: 450px;
        width: 700px;
        margin: 10px auto;
    }
    .form {
        background-color: #fff;
        border: 2px solid rgb(124, 82, 34);
        border-radius: 10px;
        width: 50%;
        padding: 10px;
        color: #fff;
        margin: auto;
    }
    .form input {
        background-color: #fff;
        border: 2px solid rgb(124, 82, 34);
        border-radius: 10px;
        height: 100px;
        width: 250px;
    }
    .form input textarea {
        background-color: #333;
    }
    .form h3 {
        color: #fff;
    }
    .menu__container {
        margin: auto;
        max-width: 850px;
        opacity: 1;



    }
    .menu__container__background {
        background: rgba(124,82,24, 0.2);
        /* opacity: 0.1; */
        max-width: 850px;
        background-image: url('img/coffe-menu.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    .menu {

        border: 2px solid rgb(124, 82, 34);
        border-radius: 10px;
        background-color: none;
        color: rgb(124, 82, 34);

        text-align: center;
        max-width: 850px;
        margin: auto;




    }
    .menu-border h4 {
        font-size: 20px;
        letter-spacing: 2px;
        padding: 10px;
        text-decoration: underline;
        color: rgb(124, 82, 34);
    }
    .left {float: left; margin-left: 10px;}
    .right {float: right; margin: 0px; padding-right: 10px;}

    .rating__container {
        max-width: 650px;
        margin: auto;
    }
}
